{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Latest photos..{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            latest
        </div>
    </div>
</div>
{% endblock %}
